[req]
default_bits = 2048
default_keyfile = san.key
default_md = sha256
distinguished_name = dn
req_extensions = req_ext

[dn]
countryName = UA
stateOrProvinceName = Kharkiv region
localityName = Kharkiv
organizationName = Ievgen Ryzhykh
commonName = localhost

[req_ext]
subjectAltName = @alt_names

[alt_names]
DNS.1 = localhost
DNS.2 = auth.localhost
DNS.3 = api.localhost
DNS.4 = web.localhost
DNS.5 = echonet.localhost
DNS.6 = traefik.localhost
DNS.7 = api.localhost
